@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.header {
  background: #36445a;
  height: 100vh;
  background-image: url(../../image/code5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.header__content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 5px black;
}

.header__textbox {
  padding: 15px;
}

.header__text {
  font-weight: normal;
  font-size: 20px;
  -webkit-animation: text 3s ease-in 1;
          animation: text 3s ease-in 1;
}

@-webkit-keyframes text {
  0% {
    color: #36445a;
    margin-bottom: -20px;
  }
  50% {
    margin-bottom: 20px;
  }
}

@keyframes text {
  0% {
    color: #36445a;
    margin-bottom: -20px;
  }
  50% {
    margin-bottom: 20px;
  }
}

.header__name {
  color: #fcba04;
  -webkit-animation: nameText 3s linear 1;
          animation: nameText 3s linear 1;
}

.header__typing {
  position: relative;
  margin-left: 10px;
  font-family: "Source Code Pro", monospace;
}

.header__typing::after {
  content: "";
  position: relative;
  left: 2px;
  width: 1px;
  border-right: 2px solid white;
  -webkit-animation: blinking 0.6s infinite ease;
          animation: blinking 0.6s infinite ease;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__button {
  padding: 10px 0;
  border: 2px solid;
  width: 50%;
  margin: 15px auto;
  font-size: 16px;
}

.header__button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid #ff785a;
  background: #ff785a;
}

.header__button:hover .header__arrow {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__link {
  text-decoration: none;
  color: white;
  display: block;
}

.header__arrow {
  width: 20px;
  position: relative;
  top: 4px;
  left: 8px;
  -webkit-filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
}

@media (min-width: 820px) {
  .header {
    background-image: url(../../image/code6.jpg);
  }
  .header__text {
    font-size: 56px;
  }
  .header__typing {
    font-size: 36px;
  }
  .header__button {
    max-width: 300px;
  }
}

.nav {
  background-color: #383a4b;
  border-bottom: 2px solid #ff785a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.nav__link:hover {
  color: #fcba04;
  border-bottom: 2px solid #fcba04;
}

@media (min-width: 820px) {
  .nav__list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.about {
  padding: 15px;
}

.about__header {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
  text-transform: uppercase;
}

.about__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;
}

.about__box {
  text-align: center;
  max-width: 150px;
}

.about__circle {
  background-color: #ff785a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.about__icon {
  width: 60px;
  padding-top: 20px;
  -webkit-filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
}

.about__box-header {
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.about__text {
  font-size: 12px;
}

.about__me {
  text-align: center;
  padding: 80px 0 30px;
}

.about__selfie {
  background-image: url("../../image/me.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.about__me-header {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 15px;
}

.about__me-text {
  font-size: 12px;
}

.about__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.about__skills-header {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding: 20px 0;
  font-size: 18px;
}

.about__skill-header {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.about__skill-img {
  width: 50px;
}

@media (min-width: 820px) {
  .about__header {
    font-size: 42px;
  }
  .about__icons {
    -ms-grid-columns: 160px 160px 160px 160px;
        grid-template-columns: 160px 160px 160px 160px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 100px;
  }
  .about__box-header {
    font-size: 24px;
  }
  .about__text {
    font-size: 16px;
  }
  .about__me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__me-container {
    max-width: 350px;
    margin-right: 50px;
  }
  .about__me-header {
    font-size: 24px;
  }
  .about__me-text {
    font-size: 16px;
  }
  .about__skills {
    margin-left: 50px;
  }
  .about__skills-header {
    padding-top: 0;
    font-size: 24px;
  }
  .about__grid {
    grid-gap: 30px;
  }
  .about__skill {
    max-width: 100px;
  }
  .about__skill-img:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.projects {
  background-color: #e9e9e9;
  padding: 15px 0;
}

.projects__header {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.projects__card {
  padding: 15px 0;
}

.projects__card-content {
  text-align: center;
}

.projects__card-header {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.projects__card-info {
  padding: 0 15px;
  font-size: 12px;
  margin-bottom: 15px;
}

.projects__card-link {
  border: 2px solid;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.projects__card-link:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ff785a;
  border: 2px solid #ff785a;
  color: white;
}

@media (min-width: 820px) {
  .projects__header {
    font-size: 42px;
  }
  .projects__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects__card-container {
    padding: 0 15px;
  }
  .projects__card {
    max-width: 400px;
  }
}

.contact {
  background-color: #36445a;
  color: #fff;
  text-align: center;
}

.contact__header {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  padding-top: 40px;
}

.contact__text {
  width: 220px;
  text-align: center;
  margin: 15px auto;
  color: #ff785a;
  font-size: 14px;
}

.contact__form {
  padding: 15px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__input, .contact__message {
  padding: 5px;
  margin-bottom: 5px;
  background: #30353e;
  border: none;
  color: #fff;
  outline: none;
}

.contact ::-webkit-input-placeholder {
  color: #e9e9e9;
}

.contact :-ms-input-placeholder {
  color: #e9e9e9;
}

.contact ::-ms-input-placeholder {
  color: #e9e9e9;
}

.contact ::placeholder {
  color: #e9e9e9;
}

.contact__error {
  color: #ff4b4b;
}

.contact__button {
  padding: 5px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 820px) {
  .contact__block {
    height: 50px;
  }
  .contact__header {
    font-size: 42px;
  }
  .contact__form {
    width: 500px;
    margin: 0 auto;
  }
  .contact__button:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 2px solid #ff785a;
    background-color: #ff785a;
  }
}

.footer {
  background-color: #383a4b;
}

.footer__top-link {
  background-color: #fcba04;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
  top: -25px;
  -webkit-animation: arrowLink 2s linear infinite;
          animation: arrowLink 2s linear infinite;
}

.footer__top-link:hover {
  background-color: #e4a803;
}

@-webkit-keyframes arrowLink {
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes arrowLink {
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.footer__arrow {
  width: 25px;
  position: relative;
  top: 10px;
  -webkit-filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
}

.footer__soMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.footer__box {
  height: 50px;
  width: 50px;
  background-color: #505269;
  text-align: center;
  margin: 0 15px;
}

.footer__box:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background-color: #2f303e;
}

.footer__icon {
  width: 25px;
  height: 25px;
  margin-top: 12px;
  -webkit-filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg) brightness(117%) contrast(100%);
}

.footer__copyright {
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  color: #9294b1;
}

.footer__year {
  color: #fcba04;
}
/*# sourceMappingURL=style.css.map */