.about {
  padding: 15px;

  &__header {
    font-family: $headerFont;
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
  }

  &__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
  }

  &__box {
    text-align: center;
    max-width: 150px;
  }

  &__circle {
    background-color: $orangeContrast;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }

  &__icon {
    width: 60px;
    padding-top: 20px;
    filter: invert(100%) sepia(1%) saturate(1035%) hue-rotate(233deg)
      brightness(117%) contrast(100%);
  }

  &__box-header {
    padding-top: 15px;
    font-family: $headerFont;
    font-size: 18px;
  }

  &__text {
    font-size: 12px;
  }

  &__me {
    text-align: center;
    padding: 80px 0 30px;
  }

  &__selfie {
    background-image: url("../../image/me.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  &__me-header {
    font-family: $headerFont;
    font-size: 18px;
    padding-top: 15px;
  }

  &__me-text {
    font-size: 12px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  &__skills-header {
    font-family: $headerFont;
    text-align: left;
    padding: 20px 0;
    font-size: 18px;
  }

  &__skill-header {
    font-family: $headerFont;
    font-size: 14px;
  }

  &__skill-img {
    width: 50px;
  }
}

@media (min-width: 820px) {
  .about {
    &__header {
      font-size: 42px;
    }

    &__icons {
      grid-template-columns: 160px 160px 160px 160px;
      justify-content: center;
      grid-gap: 100px;
    }

    &__box-header {
      font-size: 24px;
    }

    &__text {
      font-size: 16px;
    }

    &__me {
      display: flex;
      justify-content: center;
    }

    &__me-container {
      max-width: 350px;
      margin-right: 50px;
    }

    &__me-header {
      font-size: 24px;
    }

    &__me-text {
      font-size: 16px;
    }
    &__skills {
      margin-left: 50px;
    }

    &__skills-header {
      padding-top: 0;
      font-size: 24px;
    }

    &__grid {
      grid-gap: 30px;
    }

    &__skill {
      max-width: 100px;
    }

    &__skill-img:hover {
      transition: 0.4s;
      transform: scale(1.1);
    }
  }
}
