.nav {
  background-color: $darkerContrast;
  border-bottom: 2px solid $orangeContrast;
  position: sticky;
  top: 0;
  z-index: 1;

  &__list {
    display: flex;
    list-style: none;
    padding: 15px;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;

    &--active {
      color: $yellowContrast;
    }
  }
}
