.nav {
  background-color: $darkerContrast;
  border-bottom: 2px solid $orangeContrast;
  position: sticky;
  top: 0;
  z-index: 1;

  &__list {
    display: flex;
    list-style: none;
    padding: 15px;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    &:hover {
      color: $yellowContrast;
      border-bottom: 2px solid $yellowContrast;
    }
  }
}

@media (min-width: 820px) {
  .nav {
    &__list {
      justify-content: left;
    }
  }
}
