.projects {
  background-color: $greyColor;
  padding: $primarySpacing 0;

  &__header {
    font-family: $headerFont;
    font-size: 32px;
    text-align: center;
    padding-top: $primarySpacing;
    padding-bottom: 60px;
    text-transform: uppercase;
  }

  &__card {
    padding: 15px 0;
  }

  &__card-content {
    text-align: center;
  }

  &__card-header {
    font-family: $headerFont;
    font-size: 18px;
  }

  &__card-info {
    padding: 0 $primarySpacing;
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__card-link {
    border: 2px solid;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 14px;

    &:hover {
      transition: 0.4s;
      background-color: $orangeContrast;
      border: 2px solid $orangeContrast;
      color: white;
    }
  }
}

@media (min-width: 820px) {
  .projects {
    &__header {
      font-size: 42px;
    }

    &__container {
      display: flex;
      justify-content: center;
    }

    &__card-container {
      padding: 0 15px;
    }

    &__card {
      max-width: 400px;
      height: 400px;
      text-align: center;
    }

    &__img {
      max-height: 200px;
    }

    &__card-header {
      font-size: 24px;
    }

    &__card-info {
      font-size: 16px;
    }
  }
}
